

h1.logo-wrapper {
	margin: 0px 0px;
}

header#header {
	z-index: 10;
}

header .brand-logo {
	margin: 1px 0px;
	padding: 0 20px;
	line-height: 60px;
}

footer.page-footer {
	padding-top: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;

	.footer-copyright {
		text-align: center;
	}
}

.vehicle-info, .planet-distance-info {
	font-size: 12px;
	color: #888;
}

.planet-distance-info {
	color: #00897b;
}

.disabled, .exhausted, .incapable {
	opacity: 0.6;
	pointer-events: none;
}

.center {
	display: block;
	margin: 0 auto;
}

.falcone-image {
	margin-top: 50px;
}
