

h1.logo-wrapper {
	margin: 0px 0px;
}

header#header {
	z-index: 10;
}

header .brand-logo {
	margin: 1px 0px;
	padding: 0 20px;
	line-height: 60px;
}

footer.page-footer {
	padding-top: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;

	.footer-copyright {
		text-align: center;
	}
}
