<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="section">
				<h5>Select the planets you want to search in</h5>
			</div>
			<div class="divider"></div>
		</div>
	</div>
	<div class="row">
		<div class="col l3 m6 s12" ng-repeat="n in [] | repeat:1:maxDestinations">
			<falcone-select class="" falcone-model="selectedDesinations['destination_' + $index]" repeat-on="destinations" label="name" placeholder="Select Planet" exclude-items="selectedPlanets" on-change="updatePlanets()"></falcone-select>
			<p class="planet-distance-info" ng-if="selectedDesinations['destination_' + $index]">
				Distance from Lengaburu : {{ selectedDesinations['destination_' + $index].distance }}
			</p>
			<falcone-options ng-if="selectedDesinations['destination_' + $index]" falcone-model="selectedPods['vehicle_' + $index]" repeat-on="vehicles" label="name" identifier="$index" on-change="updateVehicles()" target-planet="selectedDesinations['destination_' + $index]"></falcone-options>
			<div class="vehicle-info" ng-if="selectedPods['vehicle_' + $index]">
				<p>Selected Vehicle : {{selectedPods['vehicle_' + $index].name}}</p>
				<p>Vehicle Speed : {{selectedPods['vehicle_' + $index].speed}}</p>
				<p>Max Distance : {{selectedPods['vehicle_' + $index].max_distance}}</p>
			</div>
		</div>
	</div>
</div>
