<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="section">
				<h5>Select the planets you want to search in</h5>
			</div>
			<div class="divider"></div>
		</div>
	</div>
	<div class="row">
		<div class="col l3 m6 s12" ng-repeat="n in [] | repeat:1:maxDestinations">
			<falcone-select class="" falcone-model="selectedPlanets[$index]" repeat-on="destinations" label="name" placeholder="Select Planet" exclude-items="selectedPlanets" ></falcone-select>
			<p class="planet-distance-info" ng-if="selectedPlanets[$index]">
				Distance from Lengaburu : {{ selectedPlanets[$index].distance }}
			</p>
			<falcone-options ng-if="selectedPlanets[$index]" falcone-model="selectedVehicles[$index]" repeat-on="vehicles" label="name" identifier="$index" target-planet="selectedPlanets[$index]"></falcone-options>
			<div class="vehicle-info" ng-if="selectedVehicles[$index]">
				<p>Selected Vehicle : {{selectedVehicles[$index].name}}</p>
				<p>Vehicle Speed : {{selectedVehicles[$index].speed}}</p>
				<p>Max Distance : {{selectedVehicles[$index].max_distance}}</p>
			</div>
		</div>
	</div>
	<div class="row" ng-class="{'disabled': selectedPlanets.length !== maxDestinations || selectedVehicles.length !== maxDestinations}">
		<a class="waves-effect waves-light btn-large right" ng-click="startSearch()"><i class="material-icons right">search</i>Start Expedition</a>
	</div>
</div>
